#main {
    justify-content: center;
    align-items: center;
}

.inputForm {
    margin-left: -45%;
    margin-top: 100px;
    width: 50rem;
}

#input {
    padding: 30px;
}

#inputBtn {
    padding: 30px 50px 30px 50px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    padding: 30px;
    width: 50%;
    float: left;
}  

.flex-child:first-child {
    margin-right: 20px;
}

.frame {
    margin-left: 80px;
}

.info {
    font-size: 50px;
    font-weight: bold;
}